*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

body{
    background-color: aliceblue;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-top: 20px;
}

header:hover{
    transform: scale();
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.email{
font-size: medium;
font-weight: 300;
font-style: italic;
font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
}

.links{
text-decoration: none;
list-style: none;
display: flex;
gap: 20px;
}

.profile{
    background-color: bisque;
}

.photo{
    background-color: aqua;
    justify-content: center;
    padding-bottom: 8px;
    max-height: 200px;
    object-fit: cover;
}

main nav a{
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
}