*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E2020;
    line-height: 1.6;
    padding-top: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #535555;
    object-fit: cover;
    box-shadow: -10px 10px 70px white;
    border-radius: 15px;
}

header:hover{
    transform: scale();
}

.email a{
font-size: medium;
font-weight: 300;
font-style: italic;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: none;
color: white;
padding-left: 30px;
}
.email:hover{
    transform: scale(1.2); color: white;
}

.name{
    display: flex;
    justify-content: center;
    height: 50px;
    overflow-y: hidden;
    width: fit-content;
}

.links{
text-decoration: none;
list-style: none;
display: flex;
gap: 20px;
color: white;
}

ul li a:hover{
    transform: scale();
}

ul li a{
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    color: white;
}
ul li a i{
    font-size: 22px;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    color: white;
}

h2{
    font-weight: bold;
    color: whitesmoke;
}

.hero div p{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-right:  50px;
    color: #bcbebe;
}

.ft-links{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 1rem;
}
.ft-links nav{
    background-color: white;
    border-radius: 50px;
}


button{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 8px;
    
}

.ft-links nav a{
    text-decoration: none;
}

.ft-links nav{
    display: flex;
    gap: 1rem
}

.ft-links nav a:hover{
    transform: scale(1.3);
    padding: 8px 12px;
}

.hr-photo{
    display: grid;
    justify-content: center;    
}

.hr-photo img{
    padding-top: 20px;
    max-width: 600px;
    overflow:hidden;
    border-radius: 20px;
}